.container{
  max-width: 1140px; //1200px
  @include for_screen( hd ) {
    max-width: 1400px; //1400px
  }
}
html {
    min-height: 100%;
}
body {
    font-family: "Arial";;
    font-size: 16px;
    padding-top: 120px;
    overflow-x: hidden;
    min-height: 100%;
    color: $theme_grey;
    @include for_screen( mobileAndTablet ) {
      padding-top: 90px;
    }
    @include for_screen( hd ) {
      padding-top: 110px;
    }
}
.dropdown:hover .dropdown-menu {
  display: block;
  padding-top: 0;
  border: 0;
  border-radius: 0;
  border-top: 2px solid $theme_gold;
  top: 80%;
  left: 20%;
}
.fab{
  font-family: "fa brands";
}
.fas{
  font-family: "fa solid";
}
.far{
  font-family: "fa regular";
}
a {
    text-decoration: none;
    color: inherit;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    &.text-blue{
      &:hover{
        color: $theme_secondary;
      }
    }

    &.text-gold{
      &:hover{
        color: $theme_blue;
      }
    }
}

p {
  font-family: 'Arial';
    &:last-child {
        margin: 0;
    }
}
div {
  font-family: 'Arial';
}
// h1,.h1{
//   font-size: 2.25rem;
//   font-family: $zilap_sleep;
//   @include for_screen( mobileAndTablet ) {
//     font-size: 2rem;
//   }
// }
// h2,.h2{
//   font-size: 1.875rem;
//   font-family: font-family($zilap_sleep);
//
// }
// h3,.h3{
//   font-size: 1.5rem;
//   font-family: font-family($zilap_sleep);
// }
// h5, .h5{
//   @include for_screen( mobileAndTablet ) {
//     font-size: 1.15rem;
//     line-height: 1.5;
//   }
// }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  font-family: $zilap_sleep;
  &-arial{
    font-family: "Arial";
  }
}
.font{
  &-weight{
    &-normal{
      font-weight: normal;
    }
  }
}
.display{
  &-1{
    font-size: 5rem;
    @include for_screen( mobileAndTablet ) {
      font-size: 3.5rem;
    }
    @include for_screen( hd ) {
      font-size: 6rem;
    }
  }

  &-2{
    @include for_screen( mobileAndTablet ) {
      font-size: 3.5rem;
    }
  }

  &-desktop{
    display: block;
    @include for_screen( mobileAndTablet ) {
      display: none !important;
    }
  }
  &-mobile{
    display: none !important;
    @include for_screen( mobileAndTablet ) {
      display: block !important;
    }
  }
}
.heading{
  &-title{
    font-family: $zilap_sleep;
    font-size: 3.5rem;
    line-height: 0.9;
    @include for_screen( mobileAndTablet ) {
      font-size: 2.25rem;
    }
    @include for_screen( hd ) {
      font-size: 4.5rem;
    }
  }

  // &.badge-light-green{
  //   &-left{
  //     background-image: url("../images/common/bg-heading-light-green.png");
  //     background-repeat: no-repeat;
  //     background-position: top left 16px;
  //     padding: 30px 0 20px;
  //   }
  //   &-center{
  //     background-image: url("../images/common/bg-heading-light-green.png");
  //     background-repeat: no-repeat;
  //     background-position: top center;
  //     padding: 30px 0 20px;
  //   }
  // }
}
.widget-area{
  .widget-single{
    &:not(:first-child){
      .widget-title{
        margin-top: 1.5rem;
      }
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        border-bottom: 1px solid #ccc;
        padding: 0.75rem 0;
        background-image: url("../images/icons/icon-arrow-right.png");
        background-size: 10px;
        background-repeat: no-repeat;
        list-style: none;
        padding-left: 33px;
        background-position: left center;
        a{
          &:hover{
            color: $theme_secondary;
          }
          &:before {
            //content: "";
            background-image: url("../images/icons/icon-arrow-right.png");
            position: absolute;
            width: 20px;
            height: 36px;
            background-repeat: no-repeat;
            left: 20px;
        }
        }
      }
    }
  }
}
.section-testimonials{
  .row-testionals{
    background-repeat: no-repeat;
    background-position: right center;
    .block-testimonial{
      background-color: #fff;

      box-shadow: 0px 0px 4px 1px #ddd;
      padding: 2rem 3rem;
      margin: 2rem 0;
      @include for_screen( mobileAndTablet ) {
        background-image: none !important;
      }
      &:before{
        content: "";
        background-image: url("../images/icons/icon-testimonials.png");
        background-repeat: no-repeat;
        background-position: top left;
        position: absolute;
        width: 50px;
        height: 50px;
        background-size: contain;
        top: 6px;
        margin-left: -15px;
        @include for_screen( mobileAndTablet ) {
          display: none;
        }
      }
    }
  }

}

.card{
  &-overlay-grid{
    position: relative;
    border: 4px solid #fff;
    &:before{
      content: "";
    }
    .card-body{
      position: absolute;
      background: rgba(0, 0, 0, 0.64);
      z-index: 1;
      width: 100%;
      bottom: 0;
      color: #fff;
      min-height: 110px;
      .card-title{
        color: #fff;
        margin-bottom: 0px;
      }
      .card-body{

      }
    }
  }
  &-testimonial{
    border: none;
    .card-body{
      padding: 0px;
    }
  }
}
.post{
  &.type{
    &-post{
      &.post-loop{
        background-color: #f9f9f9;
        .entry-header{
          padding: 0;
          min-height: 400px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          img{
            width: 100%;
          }
        }
        .entry-content{
          padding: 15px 15px 30px;
          // background-color: #f9f9f9;
          .entry-title{
            margin: 1rem 0;
            a{
              &:hover{
                color: $theme_secondary;
              }
            }
          }
        }
      }
    }
  }
}
.wrapper-bg-blog{
  &:before{
    background-image: url("../images/common/bg-paint-green-left.png");
    background-size: 110px;
    content: "";
    position: absolute;
    left: 0px;
    top: 200px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 0;
  }
  &:after{
    background-image: url("../images/common/bg-paint-green-right-1.png");
    background-size: 150px;
    left: auto;
    right: 0;
    background-position: center right;
    content: "";
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    background-repeat: no-repeat;
    transform: revert;
  }
}
.single-post{
  .post{
    &.type{
      &-post{
        &:not(.post-loop){
          background-color: transparent;
          .entry-header{
            padding: 0 0 1rem;
          }
          .entry-content{
            img{
              &.wp-post-image{
                width: 100%;
                padding: 1rem 0;
              }
            }
            padding: 0;
            // background-color: #f9f9f9;
            .entry-title{
              // margin: 1rem 0;
            }
            a{
              color: $theme_secondary;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }

      }
    }
  }
}
.breadcrumb{
  margin-top: 20px;
  // padding: 8px 5px;
  list-style: decimal-leading-zero;
  background-color: transparent;
  padding: 0;
  a{
    color: #7b7878;
    &:hover{
      color: $theme_secondary;
    }
  }
}
.row{
  .col-grid{
    &:last-child{
      .grid-home{
        margin-bottom: 0;
      }
    }
  }
}
.list-icon{
  list-style: none;
  li{
    position: relative;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;

    &:before{
      content: "\f058";
      font-family: "fa solid";
      color: $theme_gold;
      font-size: 2rem;
      margin-left: -52px;
      margin-top: -3px;
      position: absolute;
      line-height: 1;
    }
  }

  &.icon-blue{
    li:before{
      color: $theme_blue;
    }
  }

}
.font-zilap-sleep{
  font-family: $zilap_sleep;
}

.light{
  font-weight: normal;
}
.bold{
  font-weight: bold;
}
.text{

  &-default-sm{
    font-size: 1.1rem;
    @include for_screen(hd) {
      font-size: 1.2rem;
    }
  }

  &-default{
    font-size: 1.2rem;
    @include for_screen(hd) {
      font-size: 1.5rem;
    }
  }
  &-medium{
    font-size: 2rem;
  }
  &-large{
    font-size: 2.5rem;
  }
  &-extra-large{
    font-size: 3rem;
  }

  &-green{
    color: $theme_secondary;
  }
  &-green-dark{
    color: $theme_green_dark;
  }

  &-lemon-dark{
    color: $theme_lemon_dark;
  }
}
.btn{
  font-family: $zilap_sleep;
  &.focus{
    box-shadow: 0 0 0 0.2rem rgba($theme_secondary, 0.25);
  }
  &:focus{
    box-shadow: 0 0 0 0.2rem rgba($theme_secondary, 0.25);
  }

  &-lg{
    padding: 0.35rem 1.5rem;
    @include for_screen(mobileAndTablet) {
      padding: 0.25rem 1.25rem;
      font-size: 1rem;
    }
  }


  &-outline{
    &-white{
      color: $white;
      border-color: $white;
      background-color: transparent;
      &:hover{
        color: $theme_primary;
        background-color: $theme_secondary;
        border-color: $theme_secondary;
      }
    }
    &-green{
      color: $theme_primary;
      border-color: $theme_secondary;
      background-color: transparent;
      &:hover{
        color: $theme_primary;
        background-color: $theme_secondary;
        border-color: $theme_secondary;
      }
    }

  }
  &-theme-white{
    color: $theme_primary;
    background-color: $white;
    &:hover{
      color: $white;
      background-color: $theme_primary;
      border-color: $theme_primary;
    }
  }

  &-theme-green{
    color: $theme_primary;
    background-color: $theme_secondary;
    &:hover{
      color: $theme_secondary;
      background-color: $theme_primary;
      border-color: $theme_primary;
    }
  }

  &-theme-green-dark{
    color: $white;
    background-color: $theme_green_dark;
    &:hover{
      color: $theme_green_dark;
      background-color: $white;
      border-color: $theme_green_dark;
    }
  }

  &-theme-purple-medium{
    color: $white;
    background-color: $theme_pruple_medium;
    &:hover{
      color: $theme_pruple_medium;
      background-color: $white;
      border-color: $theme_pruple_medium;
    }
  }
}
.text{
  &-theme-secondary{
    color: $theme_secondary;
  }
}

.bg{


  &-green-dark{
    background-color: $theme_green_dark;
  }
  &-green-medium{
    background-color: $theme_green_medium;
  }
  &-green-light{
    background-color: $theme_green_light;
  }

  &-lemon-light{
    background-color: $theme_lemon_light;
  }

  &-lemon-dark{
    background-color: $theme_lemon_dark;
  }



  &-grey-light{
    background-color: #f1f1f3;
  }

  &-grey-extra-light{
    background-color: #f8f8f8;
  }

  &-purple-medium{
    background-color: $theme_pruple_medium;
  }

  &-paint{
    &:before,
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: 250px;
      background-position: left center;
      background-repeat: no-repeat;
      @include for_screen( mobileAndTablet ) {
        background-size: 200px;
      }
      @include for_screen( hd ) {
        background-size: auto;
      }
    }
    &:after{
      left: auto;
      right: 0;
      // z-index: 0;
      background-position: top right;
    }
    &-green{
      &:before{
        background-image: url("../images/common/bg-paint-green-left.png");
        background-size: 150px;
        @include for_screen( mobileAndTablet ) {
          background-size: 80px;
        }
      }
      &:after{
        background-image: url("../images/common/bg-paint-green-right.png");
        background-size: 150px;
        @include for_screen( mobileAndTablet ) {
          background-size: 80px;
        }
      }
    }
  }

  &-brush{
    &:before,
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: 250px;
      background-position: left;
      background-repeat: no-repeat;
      @include for_screen( mobileAndTablet ) {
        background-size: 200px;
      }
      @include for_screen( hd ) {
        background-size: auto;
      }
    }
    &:after{
      left: auto;
      right: 0;
      z-index: -1;
    }

    &.heading-title{
      padding-top: 20px;
      padding-bottom: 20px
    }

    &-green-light-center{
      &:before{
        z-index: -1;
        background-image: url("../images/common/bg-heading-green-light.png");
        background-position: center;
      }
    }

    &-green-light-left{
      &:before{
        z-index: -1;
        background-image: url("../images/common/bg-heading-green-light.png");
        background-position: center left 20px;
      }
    }

    &-green-light-top-left{
      &:before{
        z-index: -1;
        background-image: url("../images/common/bg-heading-green-light.png");
        background-position: top left 20px;
      }
    }

    &-green-dark-top-left{
      &:before{
        z-index: -1;
        background-image: url("../images/common/bg-heading-green-dark.png");
        background-position: top left 20px;
      }
    }

    &-white-top-left{
      &:before{
        background-image: url("../images/common/bg-brush-img-white-left.png");
        background-position: top left;
      }
    }

    &-white-bottom-right{
      &:before{
        background-image: url("../images/common/bg-brush-img-white-bottom-right.png");
        background-position: bottom right;
      }
    }

    &-white-top-right{
      &:before{
        background-image: url("../images/common/bg-brush-img-white-bottom-right.png");
        background-position: top -5px right;
      }
    }


    &-white-left-right{
      &:before,
      &:after{
        @include for_screen( mobileAndTablet ) {
          background-size: 100px;
        }
      }
      &:before{
        background-image: url("../images/common/bg-brush-white-left.png");
      }
      &:after{
        background-image: url("../images/common/bg-brush-white-right.png");
        background-position: center right;
      }
    }

    &-green-light-left-right{
      &:before,
      &:after{
        @include for_screen( mobileAndTablet ) {
          background-size: 100px;
        }
      }
      &:before{
        background-image: url("../images/common/bg-brush-green-light-left.png");
      }
      &:after{
        background-image: url("../images/common/bg-brush-green-light-right.png");
        background-position: center right;
      }
    }
    // a,
    // .heading-title{
    //   z-index: 1;
    //   position: relative;
    // }
  }

  &-list-check{
    li{
      padding: 10px 0 10px 40px;
      margin-bottom: 5px;
      text-align: left;
      position: relative;
      &:before{
        content: "";
        background-image: url("../images/icons/icon-list.png");
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: center;
        width: 30px;
        height: 30px;
        background-color: $theme_secondary;
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 0;
      }
    }
  }

}
.grid{
  &-video{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 80px;
      background-image: url("../images/icons/icon-video.png");
      @include for_screen( mobileAndTablet ) {
        background-size: 60px;
      }
      @include for_screen( hd ) {
        background-size: 95px;;
      }
    }
  }

  &-home{
    position: relative;
    margin-bottom: 30px;
    &:before,
    &:after{
      content: "";
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/common/bg-grid-home-white-right.png");
      background-repeat: no-repeat;
      background-position: top -5px right;
      background-color: rgba($theme_primary, 0);
      left: 0;
      @include for_screen( mobileAndTablet ) {
        background-size: 300px;
      }
    }
    &:after{
      top: 0;
      background-position: bottom -5px right;
      transform: scaleX(-1);
    }
    &:hover{
      &:before{
        background-color: rgba($theme_primary, 0.4);
      }
    }
    &.last{
      margin-bottom: 0;
    }
    img{
      width: 100%;
    }
    .description{
      position: absolute;
      bottom: 40px;
      width: 100%;
      z-index: 2;
      h3{
        color: $white;
        background-image: url("../images/common/bg-heading-green-light.png");
        background-repeat: no-repeat;
        background-position: left top 0px;
        max-width: calc(80% - 40px);
        margin-left: 40px;
        padding: 30px 0 0 30px;
        font-size: 3rem;
        line-height: 1;
        font-family: $zilap_sleep;
        @include for_screen( mobileAndTablet ) {
          margin-left: 20px;
          font-size: 1.85rem;
        }
        a{
          &:hover{
            color: $theme_green_light;
          }
        }
      }
      .link-arrow{
        background-image: url("../images/icons/icon-link-arrow-right.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: $theme_secondary;
        width: 55px;
        height: 52px;
        position: absolute;
        border-radius: 1rem;
        right: 10px;
        bottom: 20px;
        display: inline-block;
        cursor: pointer;
        @include for_screen( mobileAndTablet ) {
          width: 45px;
          height: 42px;
          background-size: 25px;
        }
        &:hover{
          background-color: $theme_primary;
        }
      }
    }
  }

  &-adventure{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($theme_primary, 0);
      background-position: top -13px left;

    }
    &:hover{
      &:before{
        background-color: rgba($theme_primary, 0.4);
      }
    }
    img{
      width: 100%;
    }
    .badge-label{
      position: absolute;
      right: 20px;
      top: 20px;
      width: 85px;
      height: 85px;
      padding: 25px 10px;
      line-height: 1.1;
      font-size: 1rem;
      font-weight: normal;
      display: inline-block;
      word-break: break-word;
      white-space: inherit;
      &.badge-coming_soon{
        background-color: #e67f25;
      }
      &.badge-bucket_list{
        background-color: #63903d;
      }
    }
    .description{
      position: absolute;
      bottom: 40px;
      width: 100%;
      padding-left: 10px;
      h3{
        color: $white;
        background-image: url("../images/common/bg-heading.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top 0px;
        max-width: 78%;
        margin-bottom: 2rem;
        padding: 30px 0 10px 30px;
        font-size: 2rem;
        line-height: 1;
        font-family: $zilap_sleep;
        @include for_screen( mobileAndTablet ) {
          font-size: 1.85rem;
        }
      }
      .link-book-online{

      }
      .link-arrow{
        background-image: url("../images/icons/icon-link-arrow-right.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: $theme_secondary;
        width: 40px;
        height: 38px;
        position: absolute;
        border-radius: 1rem;
        right: 10px;
        bottom: 0;
        background-size: 20px;
        display: inline-block;
        @include for_screen( mobileAndTablet ) {
          width: 40px;
          height: 38px;
          background-size: 20px;
        }
        &:hover{
          background-color: $theme_primary;
        }
      }
    }
  }

  &-adventure-park{
    position: relative;

    .description{
      h2{
        font-size: 2.25rem;
        @include for_screen( hd ) {
          font-size: 3.75rem;
        }
      }
    }
  }

  &-bucket{
    padding: 60px;
    background: #f0efef;
    position: relative;
    z-index: 1;
    @include for_screen( mobileAndTablet ) {
      padding: 10px 20px;
    }
    &:before,
    &:after{
      z-index: -1;
    }
    .description{
      .detail{
        max-width: 80%;
        @include for_screen( mobileAndTablet ) {
          max-width: inherit;
        }
      }
    }
  }

  &-direction{
    color: $white;
    .reach-time{
      margin-bottom: 1rem;
    }
    .from-area{
      span{
        display: block;
      }
    }
  }
}
.wrapper{
  position: relative;
}
.section-block{
  position: relative;
  padding: 40px 0;
  @include for_screen(hd) {
    padding: 80px 0;
  }
}
.features{
  .col-feature{
    background-image: url("../images/common/bg-col-feature.png");
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
  }
}

.search-results {
  .wrapper{
    article{
      &:not(:last-child){
        border-bottom: 1px solid #ddd;
        .entry-header{
          a{
            &:hover{
              color: $theme_green_dark;
            }
          }
        }
        .entry-summary{
          p{
            padding-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

/* SB Instagram CSS
 -----------------------------------------------*/
#sb_instagram {
    padding-bottom: 0 !important;
}
@media screen and (min-width: 1401px){
    #sb_instagram.sbi_col_4 .sbi_item{
        width: 16.666% !important;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(3){
    	width: 33.333% !important;
    	min-height: 530px;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(3) a {
    height: 510px !important;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(8){
        margin-top: -269px !important;
    }
    #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(9){
        margin-top: -272px !important;
    }
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item a{
		height: 250px !important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1400px){
  #sb_instagram.sbi_col_4 .sbi_item{
      width: 16.666% !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(3){
  	width: 33.333% !important;
  	min-height: 390px;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(3) a {
  height: 380px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(8){
      margin-top: -199px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(9){
      margin-top: -200px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item a{
  	height: 180px !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 991px){
  #sb_instagram.sbi_col_4 .sbi_item{
      width: 33.333% !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(8){
      margin-top: -0px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(9){
      margin-top: -0px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item a{
  	height: 180px !important;
  }
}

@media screen and (max-width: 480px){
  #sb_instagram.sbi_col_4 .sbi_item{
      width: 33.333% !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(8){
      margin-top: -0px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item:nth-child(9){
      margin-top: -0px !important;
  }
  #sb_instagram.sbi_col_4 #sbi_images .sbi_item a{
  	height: 120px !important;
  }
}


/* Contact Form 7 Form Background And Border CSS
 -----------------------------------------------*/
 .wpcf7 {
     // background: #A3A3A3;
     // border: 10px solid #494949;
     // width: 700px;
     // padding: 20px 20px 20px 50px !important;
 }
 .wpcf7 label{
  display: none;
 }
 .wpcf7 .form-input-group{
  margin-bottom: 15px;
 }
/* Contact Form 7 Input CSS
 ---------------------------*/
 .wpcf7 input[type="text"],
 .wpcf7 input[type="email"],
 .wpcf7 input[type="tel"],
 .wpcf7 select,
 textarea {
     font-size: 0.9rem;
     background-color: $white;
     border: 1px solid #d0d0d0;
     border-radius: 0px;
     width: 100%;
     padding: 8px 12px;
     &:focus{
       outline-color: $theme_secondary;
     }
     &::-webkit-input-placeholder { /* Edge */
       color: $black;
     }
     &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: $black;
     }
     &::placeholder {
       color: $black;
     }

 }
 .wpcf7 select{
   padding: 8px 12px 8px 8px;
 }
 .wpcf7 textarea{
   max-height: 100px;
 }
/* Contact Form 7 Submit Button
 -------------------------------*/
 .wpcf7 input[type="submit"] {
      color: $theme_primary;
      font-size: 0.9rem;
      font-weight: 700;
      background: $theme_secondary;
      padding: 0.75rem 1.5rem;
      min-width: 150px;
      border: none;
      width: auto;
      text-transform: uppercase;
      line-height: 1;
     font-family: $zilap_sleep;
     &:hover{
       color: $theme_secondary;
       background: $theme_primary;
     }
     &:focus{
       outline: none;
     }
     @include for_screen( mobileAndTablet ) {
       padding: 0.75rem 1.5rem;
     }
 }
 .wpcf7 input:hover[type="submit"] {
     background: $black;
     transition: all 0.4s ease 0s;
 }
 .wpcf7 input:active[type="submit"] {
     background: $black;
 }
 /* WPCF7 error CSS
 ----------------*/
.wpcf7 form .wpcf7-not-valid-tip{
  font-size: 0.85rem;
  color: #bb0000;
}
.wpcf7 form .wpcf7-response-output {
    margin-top: 1rem;
    font-size: 0.85rem;
}
/* Checkbox CSS
----------------*/
input[type="checkbox"] {
    transform: scale(1.3);
    margin-left: 5px;
}

span.wpcf7-list-item {
margin: 0;
padding-bottom: 20px;
}

*[data-aos] {
  // display: block !important;
  // opacity: 1 !important;
  // visibility: visible !important;
}
.sgpb-popup-dialog-main-div-wrapper{
  .sgpb-popup-dialog-main-div-theme-wrapper-3{
    @include for_screen( mobileAndTablet ) {
  		top: 0px !important;
  		overflow: scroll !important;
    }
	}
}
.modal{
  .close {
    border: 1px solid;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    background-color: #fff;
    &:hover{
      color: #860000;
      opacity: 1;
    }
  }
  .modal-content{
    top: 100px;
    .modal-body {
      padding: 40px 40px 20px;
      .bg-brush {
        padding-top: 20px;
        padding-bottom: 20px;
        background-size: 80px;
        &:before,
        &:after{
          background-size: 200px;
        }
      }
      .wpcf7{
        input[type="submit"]{
          width: 100%;
          font-size: 1.2rem;
        }
        .ajax-loader{
          position: absolute;
        }
      }
    }
  }
}
.slick-slider{
  &.single-item-bottom-arrows{
    &:not(.no-append){
      .slider-nav-wrap{
        display: block;
        text-align: center;
        margin: 15px 0;
        .slider-nav{
          display: inline-block;
          position: relative;
          z-index: 1;
          .slick-arrow{
            font-size: 35px;
            &.prev {
              left: -50px;
            }
            &.next {
              right: -50px;
            }
          }
          .slick-dots {
            position: relative;
            bottom: inherit;
            line-height: 1;
            margin-top: -4px;
          }
        }
      }
    }
  }
  .slick-arrow{
    position: absolute;
    font-size: 2.5rem;
    top: calc(50% - 1.25rem);
    line-height: 1;
    color: $theme_secondary;
    cursor: pointer;
    &.prev{
      left: -50px;
      @include for_screen( mobileAndTablet ) {
        left: 0px;
        z-index: 1;
      }
    }
    &.next{
      right: -50px;
      @include for_screen( mobileAndTablet ) {
        right: 0px;
        z-index: 1;
      }
    }
  }
  .slick-dots{
    li{
      margin: 0 3px;
      button{
        opacity: 1;
        &:before{
          opacity: 1;
          font-size: 2rem;
          color: $theme_secondary;
        }
      }

      &.slick-active{
        button{
          border-radius: 50%;
          border: 1px solid $theme_secondary;
        }
      }

    }
  }
  &.slider-center {
    //overflow: hidden;
    .slick-slide{
      height: auto;
    }
    .slides {
        position: relative;
        width: 100% !important;
        transform: scaleY(0.8);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        &:before,
        &:after{
          content: "";
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url("../images/common/bg-slide-white-left.png");
          background-repeat: no-repeat;
          background-position: top -5px left;
          background-color: rgba($theme_primary, 0);
          @include for_screen( mobileAndTablet ) {
            background-size: 300px;
          }
        }
        &:after{
          top: 0;
          background-position: bottom -5px left;
          transform: scaleX(-1);
        }
        img {
            width: 100%;
            height: auto;
        }
        .slide-overlay {
          position: absolute;
          bottom: 20px;
          padding: 0 15px;
          text-align: left;
          width: 100%;
          max-width: 420px;
          color: #fff;
          @include for_screen( mobileAndTablet ) {
            bottom: 0px;
          }
            .slide-title{
              padding: 30px 0 30px 20px;
              @include for_screen( mobileAndTablet ) {
                font-size: 1.2rem;
                line-height: 1.1;
              }
              &:before{
                background-position: top 0px left 0px;
              }
            }
        }
    }
    .slick-active {
        .slides {
          transform: scaleY(1);
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          a{
            z-index: 1;
            cursor: pointer;
            display: block;
            position: relative;
            &:focus,
            &:active{
              outline: none;
            }
          }
        }
    }
  }
  &.slider-grid {
    .slick-arrow{
      z-index: 1;
      &.next{
        right: 50px;
      }
      &.prev{
        left: 50px;
      }
    }
    .slick-dots{
      // display: none;
      // opacity: 0;
    }
  }
  &.slider-inside-arrow{
    .slick-arrow{
      z-index: 1;
      &.next{
        right: 50px;
      }
      &.prev{
        left: 50px;
      }
    }
  }
  &.slider-testimonials{
    margin-bottom: 0px;
    .slick-arrow,
    .slick-dots{
      display: none !important;
    }
  }
}

// Prices
.section-table-pricing .table-pricing{box-shadow:10px 10px 11px -11px rgba(0,0,0,0.63);-webkit-box-shadow:10px 10px 11px -11px rgba(0,0,0,0.63);-moz-box-shadow:10px 10px 11px -11px rgba(0,0,0,0.63)}
.section-table-pricing .table-pricing th{text-transform:uppercase}
.section-table-pricing .table-pricing small{color:grey}
.section-table-pricing .table-head{background-color:#A4CF4C}
.section-table-pricing .price-table-body tr td,
.section-table-pricing .price-table-body th{vertical-align:middle;text-transform:uppercase}
.section-table-pricing .table-pricing-row td .btn{width:6rem}
.section-table-pricing .table-pricing-row td label{text-transform:uppercase;display:block;color:#fff;font-size:12px;font-weight:200}
.section-table-pricing .back-head-green{background-color:#c4d82d!important;color:#fff}
.section-table-pricing .back-head-orange{background-color:#F79827!important}
.section-table-pricing .back-head-blue{background-color:#48C1F2!important}
.section-table-pricing .back-head-black{background-color:#000!important}
.section-table-pricing .back-head-red{background-color:#C4161C!important}
.section-table-pricing .back-head-pink{background-color:#EA0A8C!important}
@include for_screen( mobileAndTablet ) {
  .section-table-pricing .table-pricing{font-size: 0.75rem}
  .section-table-pricing .table-pricing tr th:first-child{min-width:300px}
  .section-table-pricing .table-pricing tr td{min-width:150px}
}
.section-grid-addon-table {
  .d-flex {
    .flex-fill {
      &:not(:last-child) {
        border-right: 2px solid #ddd;
      }
    }
  }
}
.section-grid-pricing-table {
  .col-pricing {
    .gird-pricing {
      margin: 0 2rem;
      position: relative;
      box-shadow: 0px 0px 12px 4px #ddd;
      height: 100%;
      .description {
        padding: 1rem 1.5rem 80px;
        .title {
          padding: 0.5rem 0 1.5rem;
          text-align: center;
          border-bottom: 2px solid #ddd;
        }
        .price {
          padding: 1rem 0.5rem;
          label {
            text-transform: uppercase;
            font-weight: 600;
          }
          border-bottom: 1px solid #ddd;
          &.h-fixed {
            min-height: 130px;
            @include for_screen(mobileAndTablet) {
              min-height: inherit;
            }
          }
        }
        ul.list-unstyled {
          // margin-bottom: 0;
          padding: 1rem 0.5rem;
          border-bottom: 1px solid #ddd;
          li {
            &.label {
              font-weight: 600;
              text-transform: uppercase;
            }
            ul {
              margin-bottom: 0;
              border-bottom: 0px solid #ddd;
              padding: 0;
              li {
                padding: 0.25rem 0 0;
                &:only-child {
                  // font-weight: 600;
                  // text-transform: uppercase;
                  font-size: 1.2rem;
                }
                &:not(:only-child) {
                  padding: 0.5rem 0 0.5rem 35px;
                  margin-bottom: 0;
                  text-align: left;
                  position: relative;
                  &:before {
                    content: "";
                    background-image: url(../images/icons/icon-leaf-green.png);
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: center;
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    position: absolute;
                    border-radius: 50%;
                    top: 5px;
                    left: 0;
                  }
                }
              }
            }
          }
        }
        .btn {
          position: absolute;
          bottom: 25px;
          left: calc(50% - 80px);
        }
      }
    }
  }
}

.link-video {
  position: relative;
  display: block;
  .video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }

  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #282828;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #282828;
    border-radius: 50%;
    transition: all 200ms;
  }

  .video-play-button:hover:after {
    background-color: darken(#282828, 10%);
  }

  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid $theme_secondary;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }

  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
}

.section-grid-slider-content {
  .slider-grid {
    &.slick-slider .slick-arrow {
      color: $white;
      &:hover {
        color: $theme_green_light;
      }
    }
  }
  .grid-description {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0.5rem 0 0.5rem 35px;
        margin-bottom: 0;
        text-align: left;
        position: relative;
        &:before {
          content: "";
          background-image: url(../images/icons/icon-leaf-green.png);
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: center;
          width: 30px;
          height: 30px;
          background-color: transparent;
          position: absolute;
          border-radius: 50%;
          top: 5px;
          left: 0;
        }
      }
    }
  }
}
